/JavaEE2019-ejb/build/
/JavaEE2019-ejb/dist/
/FoxtrotJavaEE2019-ejb/nbproject/private/
/FoxtrotJavaEE2019-war/build/
/FoxtrotJavaEE2019-war/nbproject/private/
/FoxtrotJavaEE2019-war/dist/
/FoxtrotJavaEE2019-ejb/build/
/FoxtrotJavaEE2019-ejb/dist/
/nbproject/private/
/build/